/*
.I1{
    height: 100px;
    width: 350px;
    padding-left: 50px;
    text-align: center;
}
.n{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
    color: black;
}
.menu{
    text-align: right;
    padding-top: 35px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.menu a{
    text-decoration: none;
    color: black;
    margin: 30px;
}

.r1 {
    background-color: white;
    color: black;
}

.menu {
    padding-top: 35px;
    text-align: right;
    color: black;
    display: block;
}

.menu a {
    color: black;
    margin: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

.n {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.n a{
    color: black;
    text-decoration: none;
}
.I1{
    height: 100px;
    width: 350px;
    text-align: center;
}
*/